@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 0.5rem;
    width: 80vw;
    background-color: white;
    color: black;
  }

  .filme-principal {
    margin-bottom: 2rem;
  }

  .box-filme {
    opacity: 100%;
  }

  header nav a {
    margin-right: 0.8rem;
  }

  .logado a {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}
